<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.jamesobin.hourgram.user.repository.UserRepository">
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO
 			`user`
 		(
 			`loginId`
 			, `password`
 			, `name`
 			, `email`
 			, `profileName`
 		)
 		VALUE
 		(
 			#{loginId}
 			, #{password}
 			, #{name}
 			, #{email}
 			, #{profileName}
 		)
 	</insert>
 	<select id="selectCountLoginId" parameterType="string" resultType="int">
		SELECT 
			count(*)
		FROM 
			`user`
		WHERE 
			`loginId` = #{loginId}
	</select>
	 <select id="selectCountProfileName" parameterType="string" resultType="int">
		SELECT 
			count(*)
		FROM 
			`user`
		WHERE 
			`profileName` = #{profileName}
	</select>
	<select id="selectUser" parameterType="map"
	resultType="com.jamesobin.hourgram.user.domain.User">
		SELECT 
			`id`
			, `loginId`
			, `password`
			, `name`
			, `email`
			, `profileName`
			, `createdAt`
			, `updatedAt`
		FROM 
			`user`
		WHERE 
			`loginId` = #{loginId}
			AND `password` = #{password}
	</select>
	<select id="selectUserById" parameterType="int"
	resultType="com.jamesobin.hourgram.user.domain.User">
		SELECT 
			`id`
			, `loginId`
			, `password`
			, `name`
			, `email`
			, `profileName`
			, `createdAt`
			, `updatedAt`
		FROM 
			`user`
		WHERE
			`id` = #{id}
	</select>
 </mapper>