<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
	
	<section layout:fragment="contents" class="contents">
		<article class="main-contents border-left">
			<div class="profile-box d-flex py-5">
				<div class="image-box col-3 d-flex justify-content-center">
					<i class="bi bi-person-circle mr-3 display-1"></i>
				</div>
				<div class="profilename-box col-9">
					<div class="display-4" th:text="${session.userProfileName}">_kw5n</div>
					<div class="display-5 mt-4" th:text="${session.userName}">권오빈</div>
				</div>
			</div>
			<div class="post-box">
				<div class="post-count-box px-3">
					<h5>게시물 4</h5>
					<hr>
				</div>
				<div class="post-list-box d-flex px-3">
					<div class="post-image-box border mr-4">
						<img src="https://cdn.pixabay.com/photo/2024/02/28/07/42/european-shorthair-8601492_1280.jpg">
					</div>
					<div class="post-image-box border mr-4">
						<img src="https://cdn.pixabay.com/photo/2024/02/28/07/42/european-shorthair-8601492_1280.jpg">
					</div>
					<div class="post-image-box border mr-4">
						<img src="https://cdn.pixabay.com/photo/2024/02/28/07/42/european-shorthair-8601492_1280.jpg">
					</div>
				</div>
			</div>
		</article>
	</section>
	
	<script layout:fragment="script"></script>
</html>