@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
}

.input-box > .login-btn {
	background-color:#ef8080;
}

#duplicateBtn {
	background-color:#ef8080;
}

#joinBtn {
	background-color:#ef8080;
}

footer {
	height:70px;
	font-size:12px;
}